.rectangle1 {
width:300px;
height:100px;
background-color:lightgray;
position:relative
}

.circle1 {
width:150px;
height:150px;
background-color:lightgray;
position:absolute;
bottom:30px;
left:0px;
border-radius:50px;
}

.box1{
position:absolute;
top:100px;
left:50px;
font-weight:bolder;
}


.col1{
position:relative;
top:150px;
left:200px;
}

.col2{
position:relative;
top:50px;
left:600px;
}


.col3{
position:relative;
top:-50px;
left:700px;
}

.col4{
position:relative;
top:150px;
left:200px;
}

.col5{
position:relative;
top:50px;
left:600px;
}


.col6{
position:relative;
top:-50px;
left:700px;
}